

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script src="/js/jquery.ui.touch-punch.min.js"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">

	<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
	<script src="https://cdn.tiny.cloud/1/nb3xf3t1qypuaa17kog94zjy953ee9rfrtr1v35sypvjsldz/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<script src="/js/main.js?x=1"></script>
	<script src="/js/admin.js?x=1"></script>
</body>
</html>