{{ include "header" }}

<section class="container" id="main_content">
	<h1>{{ .h1 }}</h1>

	<div class="page_text">
		<p>Hello and welcome! I'm very happy to see you here! I’d like to share some things about me ❤</p>
		<p>My name's Juliya Beskurskaya, I'm from Russia, I love to discover new countries and cultures. I never stay long in one place. I make artwork almost in my bedroom, but one day I will have my own workshop (this is a fact!)</p>
		<p>My art is inspired by the powerful force of the Universe & its laws. I just feel the flow and pass it onto the canvas.
		You can contact with me in any convenient way and ask me to create Art special for you!</p>

		<br>
		<p>I love you!</p>

		<br>
		<p>Remember? Follow the white rabbit...</p>
	</div>
</section>

{{ include "footer" }}