<footer class="page_footer">
	<div class="container">
		<div class="footer_line">
			<a href="https://whiterrabbitart.com/">whiterrabbitart.com</a>

			<div class="social_links">
				<a href="https://www.instagram.com/gabriel_kato_/" target="_blank"><img src="/img/icons/inst.svg" alt=""></a>
				<a href="https://www.instagram.com/gabriel_kato_/" target="_blank"><img src="/img/icons/inst.svg" alt=""></a>
				<a href="https://www.instagram.com/gabriel_kato_/" target="_blank"><img src="/img/icons/inst.svg" alt=""></a>
			</div>
		</div>
	</div>
</footer>

<div class="hidden_popup" id="order_form_popup">
	<h3>Заголовок формы</h3>
	Тут будет какой-то текст, мол спасибо за интерес, оставьте любые контакнтые даннные, я свяжусь с вами.

	<form action="/" class="styled_form" id="order_form">
		<input type="text" placeholder="Your name" name="user_name" required>
		<textarea name="user_inf" placeholder="How to contact you? (email, fb, whatsapp, etc)" required></textarea>
		<input type="submit" class="styled_button" value="Submit">
	</form>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="/js/main.js?x=1"></script>

</body>
</html>